
Lessen/Hoofdstuk 1/connect.py
Code/__pycache__
Lessen/Hoofdstuk 1/__pycache__/chatGPT.cpython-38.pyc
Lessen/Hoofdstuk 1/__pycache__/connect.cpython-38.pyc
Lessen/Hoofdstuk 1/chatGPT.py
Code/__pycache__/connect.cpython-38.pyc
Code/__pycache__/connect.cpython-38.pyc
*.pyc
